body {
    margin: 0px;
    font-family: sans-serif;
}


header {
    background-color: darkblue;
    padding: 36px;
}

#medium_heading {
    color: darkblue;
}

h1 {
    text-align: center;
    margin-bottom: 60px;
    font-size: 48px;
    color: white;
}

nav a {
    color: white;
}

main {
    background-color: rgb(203, 223, 230);
    padding: 48px;
}

.card {
    border: 1px solid darkblue;
    box-shadow: 5px 5px 8px gray;
    background-color: aliceblue;
    margin: 40px;
    padding: 20px;
}

.card img {
    width: 100px;
    padding: 10;
}

#image_container {
    float: left;
    padding-right: 24px;
    width: 200px;
}
footer {
    background-color: darkblue;
    padding: 24px;
    color: aliceblue;
}
