/* Task 21 - Write your code solution below */
#t21_container {
    display: flex;
}

/* Task 22 - Write your code solution below */
#t22_container {
    display: flex;
}

/* Task 23 - Write your code solution below */

#t23_container {
    display: flex;
    flex-direction: column;
}

/* Task 24 - Write your code solution below */


/* Task 25 - Write your code solution below */


/* Task 26 - Write your code solution below */


/* Task 27 - Write your code solution below */


/* Task 28 - Write your code solution below */


/* Task 29 - Write your code solution below */


/* Task 30 - Write your code solution below */
