body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}

#hero {
    background-image: url(../images/hulu-bg.jpeg);
    background-size: cover;
}

nav {
    padding: 24px 36px;
    background: linear-gradient(to bottom, #000000DD, #00000000);
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav img {
    width: 60px;
}

nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.5s;
}

nav a:hover {
    background-color: rgb(93, 92, 92,);
}

#hero_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h5 {
    color: #00ed82;
}

#hero_content p {
    color: white;
    font-size: 22px;
}

/****************************************************************************
  Hero styles
****************************************************************************/


.button {
        display: inline-block;
        background-color: #00ED82;
        color: black;
        text-decoration: none;
        font-weight: bolder;
        font-size: 13px;
        padding: 15px;
        border-radius: 5px;
        width: 670px;
        text-align: center;
        transition: opacity 0.5s;
}

.button:hover {
    opacity: 0.5;
}

.term_link, 
.sign_up_link {
    color: white;
    display: inline-block;
}

.term_link {
    font-size: 14px;
    margin-top: 16px;
}

.sign_up_link {
    margin-top: 28px;
}

footer {
    display: flex;
    align-items: center;
    padding: 12px 36px;
    margin-top: 60px;
    background-color: rgba(0, 0, 0, 0.5);
}

#footer_center {
    margin: 0px 24px;
    flex: 1;
}

footer #footer_image_container {
    width: 250px;
}

footer img {
    width: 100%;
}

.other_button_link {
    display: inline-block;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 12px 24px;
    border-radius: 4px;
    transition: 
        background-color 0.5s,
        color 0.5s;
}

.other_button_link:hover {
    background-color: white;
    color: black;
}

.term_link {
    display: block;
    color: white;
    font-size: 10px;
    text-align: center;
    margin-top: 4px;
}

#footer_center p{
    color: white;
    font-size: 22px;
}

/****************************************************************************
  Card styles
****************************************************************************/

#four_cards {
    text-align: center;
    margin-top: 90px;
}

#four_cards h2,
#four_cards p, 
#four_cards h6,
#four_cards h4 {
    color: white;
}

#four_cards h2 {
    font-size: 48px;
    margin-top: 0px;
}

#four_cards p {
    width: 700;
    margin: 0pc auto;
}

#deck_container {
    display: grid;
    grid-template-columns: repeat(4, 295px);
    grid-auto-rows: 450px;
    grid-gap: 24px;
    width: 1252px;
    margin: 60px auto;
    text-align: left;
}

#deck_container div {
    padding-left: 24px;
}

#deck_container h6 {
    font-weight: normal;
    margin-bottom: 12px;
}

#deck_container h4 {
    font-size: 22px;
    margin-top: 0px;
}

#bunger {
    background: 
        linear-gradient(to bottom, #000000DD, #00000000 40%), 
        url(../images/bobsburgers.jpeg);
    background-size: contain;
}
    
#prey {
    background-image: url(../images/prey.jpeg);
    background-size: contain;
}

#handmaid {
    background-image: url(../images/handmaidstale.jpeg);
    background-size: contain;
}

#dragon {
    background-image: url(../images/houseofdragon.jpeg);
    background-size: contain;
}

/****************************************************************************
  Media Query - Mobile Breakpoint
****************************************************************************/

@media screen and (max-width: 768px) {
    .button {
        width: 80%;
    }
    footer {
        flex-direction: column;
        text-align: center;
        padding-bottom: 36px;
    }
    #four_cards {
        padding: 0px 24px;
    }
    #four_cards p {
        width: 100%;
    }
    #deck_container {
        grid-template-columns: 1fr 1fr;
        width: 100%;
        box-sizing: border-box;
    }
    #deck_container div {
        background-repeat: no-repeat;
    }
    #deck_container h4 {
        font-weight: normal;
    }
}