body {
    margin: 0;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif
}

nav {
    display: flex;
    justify-content: space-between;
}


#nav-links li {
    padding: 0 4px;
}

nav {
    color: lightgray;
}

nav img {
    height: 20px;
    padding: 20px;
}

nav ul,
nav h2 {
    flex: 1;
    margin: 0;
    padding: 0;
}

/****************************************************************************
  Hero styles
****************************************************************************/

#hero {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    background-image: url("../images/hulu-bg.jpeg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}


#hero h2 {
    color: white;
    display: flex;
    justify-content: center;
}

#hero ul li {
    margin: 20px;
    display: flex;
    justify-content: center;
}


#regular a {
    color: white;
    display: flex;
    justify-content: center;
}

#button {
        background-color: #1CE783;
        color: black;
        border-radius: 5px;
        display: inline-block;
        padding: 15px 250px;
        margin-top: 12px;
        min-width: 150px;
        font-size: 13px;
        font-weight: 600;
        justify-content: center;
}

#button {
    list-style-type: none;
}


footer {
    background-color: black;
    opacity: 50%;
    margin: 0;
}

footer h2 {
    font-weight: 200;
    padding: 10px;
}

footer h4 {
    color: #1CE783;
    font-size: 12px;
    padding-top: 30px;
    font-weight: 500;
}

.footer-under {
    display: flex;
}

footer img {
    height: 60px;
}


/****************************************************************************
  Card styles
****************************************************************************/

#heading-for-card {
    color: #1CE783;
    display: flex;
    justify-content: center;
}


#heading-for-card2 {
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

#heading-for-card3 {
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
}

#four-cards {
    display: flex;
}

.card {
    color: white;
    text-align: left;
    display: flex;
    flex-direction: row;
    margin: 5px;
}

#card-1 {
    background-image: url("../images/bobsburgers.jpeg");
    width: 25%;
    height: 500px;
}


#card-2 {
    background-image: url("../images/prey.jpeg");
    width: 25%;
    height: 500px;
}


#card-3 {
    background-image: url("../images/handmaidstale.jpeg");
    width: 25%;
    height: 500px;
}


#card-4 {
    background-image: url("../images/houseofdragon.jpeg");
    width: 25%;
    height: 500px;
}

/****************************************************************************
  Media Query - Mobile Breakpoint
****************************************************************************/

@media screen and (max-width: 800px) {
    #site_grid {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "nav_area"
            "hero_area"
            "footer_area"
            "four_cards_area";
    }

    nav {
        flex-direction: column;
    }

    nav img {
        width: 20%;
    }

    #four_cards {
        flex-direction: column;
    }

    .card {
        align-items: center;
        margin: 36px 24px 0px;
    }
}